//
//  Icons
//  _____________________________________________
@icons__font-path: "@{baseDir}fonts/Icons";
@icons__font-name: "Icons";

//
//  Responsive variables
//  _____________________________________________

@screen__m: 940px;
