@font-face {
    font-family: "Oswald-Bold";
    src: url("../fonts/Oswald-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald-medium";
    src: url("../fonts/Oswald-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Oswald-light";
    src: url("../fonts/Oswald-Light.ttf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
