//
//  Common
//  ---------------------------------------------
//

& when (@media-common = true) {
    .menu-cart-container {
        .cart-content {
            position: absolute;
            z-index: 1;
            top: -100px;
            right: 70px;

            height: 10px;
            overflow: hidden;
            width: 390px;
            padding: 25px 20px;
            border: 1px solid @color-gray-light2;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);

            background: #fff;

            transition: top 0.4s;

            .block-title {
                display: none;
            }

            #btn-minicart-close {
                display: none;
            }
        }
        .menuDisplayed {
            top: 70px;
            overflow: unset;
            height: unset;
        }
    }
}

//
//  Mobile and tablets
//  ---------------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum = "max")
    and
    (@break = @screen__m) {
    .page-header {
        .menu-cart-content-container {
            display: none;
        }
    }
}
