//
//  Common
//  ---------------------------------------------
//

& when (@media-common = true) {
    .menu-cart-container {
        .cart-content {
            position: absolute;
            z-index: 1;
            top: -100px;
            right: 70px;

            height: 10px;
            overflow: hidden;
            width: 390px;
            padding: 25px 20px;
            border: 1px solid @color-gray-light2;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);

            background: #fff;

            transition: top 0.4s;

            .block-title {
                display: none;
            }

            #btn-minicart-close {
                display: none;
            }
        }

        .menuDisplayed {
            top: 70px;
            overflow: unset;
            height: unset;
        }
    }

    #minicart-content-wrapper {
        .minicart-items-wrapper.overflowed {
            max-height: 300px !important;

            .item.product.product-item {
                border: 0;
                padding: 10px 0 0;

                .product-item-name {
                    margin-bottom: 7px;
                    font-size: 1.5rem;
                }

                .product-item-pricing {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    margin-bottom: 7px;

                    .price-excluding-tax {
                        margin: 0 0 5px;
                    }

                    .details-qty.qty {
                        margin-top: 0;
                    }
                }

                .product.options.list {
                    display: flex;
                    justify-content: space-between;

                    .product-option-item {
                        display: flex;

                        .label {
                            margin-right: 5px;
                        }

                        .values {
                            color: @theme__color__primary;
                        }
                    }
                }

                .minicart-border-container {
                    display: flex;
                    justify-content: center;

                    .minicart-border {
                        height: 1px;
                        width: 85%;
                        margin: 10px 0;
                        background: #1979c3;
                        background: -webkit-gradient(
                            linear,
                            0 0,
                            100% 0,
                            from(#fff),
                            to(#fff),
                            color-stop(50%, #1979c3)
                        );
                    }
                }
            }
        }
    }

    .items-total {
        .count {
            color: @theme__color__primary;
        }
    }

    .block-content{
        .subtotal {
            display: flex;
            margin-bottom: 5px;
    
            .label {
                margin-right: 5px;
            }
    
            .price {
                color: @theme__color__primary;
            }
        }
        .actions {
            display: flex;
            justify-content: center;
    
            .secondary {
                font-size: 2.5rem; 
            }
        }
    }
    
    #shopping-cart-table {
        .item-info {
            .product-item-name {
                a {
                    color: @theme__color__primary;

                    font-size: 2.5rem;
                }
            }
        }
    }
}

//
//  Mobile and tablets
//  ---------------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum = "max")
    and
    (@break = @screen__m) {
    .header.content {
        padding-right: 0px;
        .mobile-cart-link-container {
            display: flex;
            justify-content: flex-end;

            .mobile-cart-link-a {
                .mobile-cart-link-span::after {
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-size: 35px;
                    line-height: 33px;
                    color: #8f8f8f;
                    content: "\e611";
                    font-family: "Icons";
                    margin: 0;
                    vertical-align: top;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    text-align: center;
                }
            }
        }
    }

    .page-header {
        .menu-cart-content-container {
            display: none;
        }
    }
}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__m) {
    .cart {
        .action {
            margin-bottom: 0;
        }
    }
}
