//
//  Common
//  ---------------------------------------------
//
& when (@media-common = true) {
    #maincontent {
        margin-top: 56px;
        border-bottom: 1px solid @color-gray-light2;
    }

    .page-header {
        text-transform: uppercase;
        font-family: Oswald-Medium;
        letter-spacing: 2px;

        .logo {
            float: unset;
        }
    }

    .page-footer {
        background-image: url(../images/footer-bg.png);

        color: #fff;

        a {
            color: #fff;
        }

        .footer.content {
            max-width: unset;
            border: unset;
            display: flex;

            text-transform: uppercase;
            font-family: Oswald-Medium;
            font-size: 1.7rem;

            .footer-links-container {
                display: flex;
                margin-bottom: 30px;

                .custom-footer-links-container {
                    display: flex;

                    .custom-footer-links {
                        .custom-footer-link {
                            margin-bottom: 8px;

                            font-family: Oswald-Light;
                            text-transform: capitalize;
                            letter-spacing: 1px;
                        }
                    }
                }
            }
        }

        .social-links-footer {
            display: flex;

            .footer-social-link {
                height: 70px;
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;

                font-family: "Icons";
                font-size: 2.5rem;
                text-decoration: none;
            }

            #facebook-container {
                transition: color 0.4s;

                #icon-facebook:before {
                    content: "\ea90";
                }
            }

            #facebook-container:hover {
                color: #3b5998;
            }

            #twitter-container {
                transition: color 0.4s;

                #icon-twitter:before {
                    content: "\ea96";
                }
            }
            #twitter-container:hover {
                color: #1da1f2;
            }

            #instagram-container {
                transition: color 0.4s;

                #icon-instagram:before {
                    content: "\ea92";
                }
            }

            #instagram-container:hover {
                color: #c13584;
            }

            #youtube-container {
                transition: color 0.4s;

                #icon-youtube:before {
                    content: "\ea9d";
                }
            }

            #youtube-container:hover {
                color: #ff0000;
            }
        }
    }
}

//
//  Mobile and tablets
//  ---------------------------------------------

.media-width(@extremum, @break)
    when
    (@extremum = "max")
    and
    (@break = @screen__m) {
    .page-header {
        .logo-container {
            display: flex;
            justify-content: flex-end;

            .logo {
                margin-top: 10px;
            }
        }

        .header-icons-container {
            display: none;
        }
    }

    .page-footer {
        .footer.content {
            flex-direction: column;

            .footer-links-container {
                flex-direction: column;

                .footer.links {
                    margin-bottom: 30px;
                }

                .custom-footer-links-container {
                    flex-direction: column;

                    .custom-footer-links {
                        margin-bottom: 30px;
                    }
                }
            }

            .social-links-footer {
                justify-content: center;
            }
        }
    }
}

//
//  Desktop
//  ---------------------------------------------
//

.media-width(@extremum, @break)
    when
    (@extremum = "min")
    and
    (@break = @screen__m) {
    .page-header {
        position: fixed;
        z-index: 3;

        height: 56px;
        width: 100%;

        .panel.wrapper {
            display: flex;

            background-color: #fff;

            .nav-sections {
                z-index: 3;

                width: 45%;
                margin-bottom: 0;

                background: unset;

                .navigation {
                    max-width: unset;
                    margin: 0;
                    height: 56px;

                    background: #fff;

                    .category-item {
                        margin: 0;

                        .level-top {
                            padding: 0 7px 0 7px;
                            height: 56px;
                        }

                        .submenu {
                            padding: 0;
                        }

                        .ui-menu-icon {
                            display: none;
                        }
                    }
                }
            }

            .logo-container {
                z-index: 3;

                width: 10%;

                background: #fff;

                .logo {
                    img {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            .header-icons-container {
                z-index: 3;

                width: 45%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin: 0;
                padding-right: 20px;

                background: #fff;

                .minicart-wrapper {
                    .action.showcart {
                        display: flex;
                        align-items: center;
                        margin-right: 5px;

                        .counter.qty{
                            position: relative;
                            right:7px;

                            margin: 0;
                            padding: 0 3px 0 0;

                            background: #fff;

                            color: @theme__color__primary;
                        }

                        .cart-label {
                            margin: 0;
                        }
                    }
                }

                .search-icon-container {
                    display: flex;
                    align-items: center;

                    margin-right: 7px;

                    cursor: pointer;

                    .search-icon{
                        position: relative;
                        top: 1px;

                        color:#8f8f8f;
                    }

                    .search-icon::after {
                        content: "\e615";
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 30px;
                        line-height: 28px;
                        overflow: hidden;
                        margin: 0;
                        vertical-align: top;
                        display: inline-block;

                        font-weight: normal;
                        text-align: center;
                        font-family: Icons
                    }
                }

                .search-icon-container:hover{
                    .search-icon{
                        color:#000;
                    }
                    
                    .search-label{
                        text-decoration: none;
                    }
                }

                .menu-icon-container {
                    display: flex;
                    align-items: center;

                    cursor: pointer;

                    .menu-icon{
                        position: relative;
                        top: 2px;

                        color:#8f8f8f;
                    }

                    .menu-icon::after {
                        content: "\e609";
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 27px;
                        line-height: 30px;
                        overflow: hidden;
                        margin: 0;
                        vertical-align: top;
                        display: inline-block;

                        font-weight: normal;
                        text-align: center;
                        font-family: Icons
                    }
                }

                .menu-icon-container:hover{
                    .menu-icon{
                        color:#000;
                    }
                    
                    .menu-label{
                        text-decoration: none;
                    }
                }
            }

            .menu-search-container {
                position: absolute;
                top: -30px;
                right: 30px;
                z-index: 2;

                height: 55px;
                padding: 10px 15px 10px 0;
                border: 1px solid @color-gray-light2;
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);

                background: #fff;

                transition: top 0.4s;

                a:hover{
                    text-decoration: none;
                }
            }

            .menu-top-links-container {
                position: absolute;
                top: 0;
                z-index: 1;

                height: 50px;
                width: 100%;
                display: flex;
                justify-content: center;

                transition: top 0.4s;

                .panel.header {
                    display: flex;
                    align-items: center;
                    border: 1px solid @color-gray-light2;
                    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);

                    background: #fff;

                    li:first-child {
                        margin: 0;
                    }

                    li:last-child {
                        margin: 0;
                    } 

                    a:hover{
                        text-decoration: none;
                    }
                }
            }

            .menuDisplayed {
                top: 70px;
            }
        }
    }
    .page-footer {
        .footer.content {
            flex-direction: row;
            justify-content: space-between;

            .footer-links-container {
                flex-direction: row;

                .footer.links {
                    padding-right: 100px;
                }

                .custom-footer-links-container {
                    flex-direction: row;

                    .custom-footer-links {
                        padding-right: 100px;
                    }
                }
            }
        }

        .social-links-footer {
            .footer-social-link {
                margin: 150px 0 0 10px;
            }
        }
    }
}
